<% include ./partials/header %>

<h1>Login</h1>
<div class="container" id="loginForm">
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username" required>
        <input type="password" name="password" placeholder="password" required>
        <button class="btn btn-lg btn-default btn-block btn-primary">Login</button>
    </form>
</div>
<% include ./partials/footer %>
